* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-color: #7bafd4;
  display: flex;
  place-content: space-between;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: roboto;
  text-transform: uppercase;
  padding: 2rem;
}

nav a:hover {
  text-shadow: 1px 1px #91d1ff;
  font-size: 1.01rem;
}

#logo {
  padding: 1.5rem;
  width: 50%;
  height: auto;
}

.icons {
  display: flex;
  flex-direction: column;
  place-content: space-between;
  padding: 0;
}

#menu {
  flex-basis: 100%;
}

#menuknap {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  background-color: #7bafd4;
  padding: 0.5rem;
}

.hidden {
  display: none;
}

.icons {
  display: none;
}

@media (min-width: 700px) {
  #menu {
    flex-basis: 0;
  }
  #menuknap {
    display: none;
  }
  nav {
    display: flex;
  }
  header ul {
    display: flex;
  }
  .hidden {
    display: flex;
  }

  header a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  header nav {
    display: contents;
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0 0;
  }

  nav a {
    padding: 1rem 0 0 2rem;
  }

  #logo {
    display: flex;
    place-content: center;
    padding: 1rem;
  }

  header li {
    list-style: none;
  }
}

@media (min-width: 800px) {
  .icons figure {
    width: 130%;
    height: auto;
    padding: 2rem;
  }
  header li {
    list-style: none;
  }
  .icons .heart {
    width: 145%;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }

  /* .icons figure {
      width: 130%;
      height: auto;
      padding: 0.1rem;
    } */
}
