* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(
    to right,
    #aed5b2 0%,
    #aed5b2 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#signupbutton {
  background-color: #7bafd4;
  border: none;
  padding: 1em;
  border-radius: 5px;
  padding-left: 2em;
  padding-right: 2em;
}

#lovesilfen {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  padding: 5em;
}

#lovesilfen > p {
  color: black;
}

#form {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  body {
    background: none;
  }
}
